a {
  text-decoration: none;
  color: #232528;
}

.navbar {
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  width: 100%;
  //background-color: #ffcd00;
  padding-top: 15px;
  padding-bottom: 15px;
  .title {
    font-size: 35px;
    font-weight: 600;
    margin-left: 32px;
    color: #232528;
    cursor: pointer;
    > * {
      color: #800000;
    }
  }
  .elements {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 22px;
    vertical-align: middle;
    padding: 10px;
    > * {
      color: #232528;
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      margin-left: 32px;
    }
  }
}
